// Enable Control Shift mappings for neovim
term*modifyOtherKeys: 2

Xft.dpi:	96
Xft.antialias:	true
Xft.hinting:	true
! Xft.hintstyle:	hintslight
Xft.hintstyle:	hintfull
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

#include ".urxvt/organic-green.xresources"

URxvt.scrollstyle:             plain ! or xterm
URxvt*geometry:                152x50
URxvt*scrollBar_right:         true
URxvt*iconFile:                ~/dotfiles/images/Octicons-terminal.svg
URxvt*font:                    xft:FiraMonoMedium:size=12:antialias=true:hinting=true
! emacs*font:                    FiraMonoMedium:size=12:antialias=true:hinting=true

URxvt.perl-lib:                ~/.urxvt/ext/
URxvt*perl-ext-common:         fullscreen,default,clipboard,keyboard-select,tabbedex

URxvt.keysym.Control-Shift-R:  perl:tabbedex:rename_tab
URxvt.keysym.Control-w:        perl:tabbedex:kill_tab

URxvt.keysym.F11:              perl:fullscreen:switch
URxvt.iso14755:                False
URxvt.keysym.Shift-Control-C:  perl:clipboard:copy
URxvt.keysym.Shift-Control-V:  perl:clipboard:paste
URxvt.keysym.M-s:              perl:keyboard-select:activate
URxvt.clipboard.autocopy:      true

URxvt.url-select.launcher:     chromium
URxvt.url-select.underline:    true
URxvt.keysym.M-u:              perl:url-select:select_next

URxvt.keysym.Control-Up:       \033[1;5A
URxvt.keysym.Control-Down:     \033[1;5B
URxvt.keysym.Control-Left:     \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

URxvt.tabbed.tabbar-fg: 14
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 14
URxvt.tabbed.tab-bg: 15
